<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <title><%- title %></title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <div class="container">
      <aside>
        content
      </aside>
      <section class="main">
        <div class="top-main">
          <ul>
            <li class="arrow-left">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </li>
            <li>
              <ul class="categories">
                <li>Automotriz</li>
                <li>Enderezado y pintura</li>
                <li>Torno</li>
                <li>Frenos</li>
                <li>Vidrios</li>
                <li>Automotriz</li>
                <li>Enderezado y pintura</li>
                <li>Torno</li>
                <li>Frenos</li>
                <li>Vidrios</li>
              </ul>
            </li>
            <li class="arrow-right">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="card-container">
          <div class="box">            
            <div class="box-header">
                <div class="banner">
                    <img src="./img/layout.jpeg" alt="">
                  </div>
              <h3>Repuestos Omar</h3>
              <div class="logo">
                <img src="./img/916882.gif" alt="">
              </div>
            </div>
            <div class="box-body">              
            <ul class="points">
                <li><i class="fa fa-heart" aria-hidden="true"></i>
                </li>
                <li>880
                </li>               
            </ul> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
              <ul class="social">
                <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </li>
                <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </li>
                <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </ul> 
            </div>
            <div class="box-footer">
              <a href="/index" class="btn">
                Ver más 
              </a>
            </div>
          </div>
          <div class="box">            
              <div class="box-header">
                  <div class="banner">
                      <img src="./img/layout.jpeg" alt="">
                    </div>
                <h3>Repuestos Omar</h3>
                <div class="logo">
                  <img src="./img/916882.gif" alt="">
                </div>
              </div>
              <div class="box-body">              
              <ul class="points">
                  <li><i class="fa fa-heart" aria-hidden="true"></i>
                  </li>
                  <li>880
                  </li>               
              </ul> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
                <ul class="social">
                  <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                  </li>
                  <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                  </li>
                  <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                 
               </ul> 
              </div>
              <div class="box-footer">
                <a href="" class="btn">Ver más </a>
                
              </div>
            </div>
            <div class="box">            
                <div class="box-header">
                    <div class="banner">
                        <img src="./img/layout.jpeg" alt="">
                      </div>
                  <h3>Repuestos Omar</h3>
                  <div class="logo">
                    <img src="./img/916882.gif" alt="">
                  </div>
                </div>
                <div class="box-body">              
                <ul class="points">
                    <li><i class="fa fa-heart" aria-hidden="true"></i>
                    </li>
                    <li>880
                    </li>               
                </ul> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
                  <ul class="social">
                    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </ul> 
                </div>
                <div class="box-footer">
                  <a href="" class="btn">Ver más </a>
                </div>
              </div> 
              <div class="box">            
                <div class="box-header">
                    <div class="banner">
                        <img src="./img/layout.jpeg" alt="">
                      </div>
                  <h3>Repuestos Omar</h3>
                  <div class="logo">
                    <img src="./img/916882.gif" alt="">
                  </div>
                </div>
                <div class="box-body">              
                <ul class="points">
                    <li><i class="fa fa-heart" aria-hidden="true"></i>
                    </li>
                    <li>880
                    </li>               
                </ul> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
                  <ul class="social">
                    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </ul> 
                </div>
                <div class="box-footer">
                  <a href="" class="btn">Ver más </a>
                </div>
              </div> 
              <div class="box">            
                <div class="box-header">
                    <div class="banner">
                        <img src="./img/layout.jpeg" alt="">
                      </div>
                  <h3>Repuestos Omar</h3>
                  <div class="logo">
                    <img src="./img/916882.gif" alt="">
                  </div>
                </div>
                <div class="box-body">              
                <ul class="points">
                    <li><i class="fa fa-heart" aria-hidden="true"></i>
                    </li>
                    <li>880
                    </li>               
                </ul> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
                  <ul class="social">
                    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </ul> 
                </div>
                <div class="box-footer">
                  <a href="" class="btn">Ver más </a>
                </div>
              </div> 
              <div class="box">            
                <div class="box-header">
                    <div class="banner">
                        <img src="./img/layout.jpeg" alt="">
                      </div>
                  <h3>Repuestos Omar</h3>
                  <div class="logo">
                    <img src="./img/916882.gif" alt="">
                  </div>
                </div>
                <div class="box-body">              
                <ul class="points">
                    <li><i class="fa fa-heart" aria-hidden="true"></i>
                    </li>
                    <li>880
                    </li>               
                </ul> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate similique accusantium blanditiis, at culpa iusto porro  </p>
                  <ul class="social">
                    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </ul> 
                </div>
                <div class="box-footer">
                  <a href="" class="btn">Ver más </a>
                </div>
              </div>           
        </div>
        <div class="load-more">
          <div class="btn btn-l">
            Cargas más talleres
          </div>
        </div>
      </section>      
    </div>
    <%- include('./partials/footer')%>
  </body>
</html>
